services:

  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    expose:
      - 5432
    ports:
      - "5432:5432"
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: postgres
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    expose:
      - 8080