services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: postgres
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    expose:
      - 8080