server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: BankAPI
  mvc:
    servlet:
      path: /api/v1
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_DB:bank}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: ${DATABASE_DRIVER:org.postgresql.Driver}
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ${DATABASE_SCHEMA:public}
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.xml
    default-schema: ${DATABASE_SCHEMA:public}